.mainmenu-area {
    background-color: #138fc2;
}






#barang-desa{
   padding-bottom: 50px;
}

#barang-desa img{
    width: 150px;
    height: 150px;
}


#kotakbarang{
margin: 27px 0px;
}

.card-title{
	white-space: nowrap ;
}


#berita-desa img{
    float: left;
    margin: 10px 10px;
}

